"*":
  "atom-beautify":
    executables:
      php: {}
      "php-cs-fixer":
        path: "/usr/local/bin/php-cs-fixer"
    js:
      break_chained_methods: true
      end_with_comma: true
      space_in_paren: true
    latex:
      indent_preamble: true
      remove_trailing_whitespace: true
    php: {}
    scss:
      align_assignments: true
      convert_quotes: "single"
      no_lead_zero: true
    vue:
      brace_style: "end-expand"
      break_chained_methods: true
      end_with_comma: true
      indent_inner_html: true
      object_curly_spacing: true
      space_in_paren: true
      unescape_strings: true
  "atom-ide-ui":
    use:
      "atom-ide-code-format": "always"
  "atom-latex":
    build_after_save: false
  "atom-runner":
    paneSplitDirection: "Down"
  "atom-updater-linux":
    checkStartup: false
  "autoclose-html":
    makeNeverCloseSelfClosing: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "welcome"
      "background-tips"
      "wrap-guide"
      "atom-latex"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._* Thumbs.db"
      "desktop.ini"
    ]
    packagesWithKeymapsDisabled: [
      "hyperclick"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 10
    preferredLineLength: 150
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "101d3433-a94b-4314-a510-30811b1d19b5"
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "platformio-ide-terminal":
    style:
      theme: "dracula"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html.php.blade"
    ]
    locales: [
      "en-US"
    ]
  "terminal-plus":
    style:
      theme: "dracula"
  "tree-view": {}
  wordcount:
    currencysymbol: "€"
    goal: 1500
    ignorecode: true
    noextension: true
    showprice: true
    wordprice: "0.10"
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
